*
{
	margin: 0em;
}

html
{
	background-color: #111;
}

.sprite
{	
	width: 1em;
	height: 1em;
	position: absolute;

	border-radius: 0.2em;
}

#red
{
	background-color: red;
}

#blue
{
	top: 2em;
	left: 3em;
	background-color: blue;
}

#red  > #sword
{
	left: 0.5em;
	top: 0.5em;
	width: 0.5em;
	height: 0.25em;
	position: absolute;

	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(assets/sword.jpg);
}

#camera
{
	top: 0px;
	position: absolute;
	transition: top, left;
	transition-duration: 0.5s;
}

.tile
{

	width: 1em;
	height: 1em;
	position: absolute;
}

.wall.tile
{
	background-color: brown;
}

.floor.tile
{
	background-color: PapayaWhip;
}

/*************/
/*Game Frame*/
/***********/

#game-frame
{
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	margin: auto;
	position: fixed;
	overflow: hidden;

	background-color: PapayaWhip;
}

@media(min-aspect-ratio: 11/9)
{
	#game-frame
	{
		width: 122.222vh;
		height: 100vh;
		font-size: 11.12vh;
	}
}

@media(max-aspect-ratio: 11/9)
{
	#game-frame
	{
		width: 100vw;
		height: 81.818vw;
		font-size: 9.1vw;
	}
}
